.leftpanel
  .leftmenu
    %ul.nav.nav-tabs.nav-stacked
      %li{ class: class_for(:dashboard) }= link_to 'Dashboard', admin_dashboard_path
      %li{ class: class_for(:projects) }= link_to 'Projects', admin_projects_path
      %li{ class: class_for(:members) }= link_to 'Members', admin_members_path
